# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
downloads/
parts/
sdist/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Virtual environments
venv/

# .env
*.env
.venv
env
backend/.env

# Models LLM, y cargas de archivos
backend/models/*
backend/uploads/*
backend/data/*

# Excepcion de Readme's
!backend/models/Readme.md
!backend/uploads/Readme.md
!backend/data/Readme.md
